@page
@model Cofetaria_Sky.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access nepermis";
}
<div id="denied" style="margin-top: 76px !important;">

    <center style="margin-top: 150px;">
        <h1 style="font-size: 70px;"><strong>Nu aveți access la această pagină</strong></h1>
    </center>
</div>