@page
@model Cofetaria_Sky.Pages.Account.ChangePasswordModel
@{
    ViewData["Title"] = "Schimbare parolă";

}
<div id="change_password" style="margin-top: 76px !important;">
    <form method="post" style="margin-top: 150px; margin-left: 15%;" id="form_ch_pass">
        <h1><strong>Schimbă parola</strong></h1>

        <div asp-validation-summary="ModelOnly"></div>


        <div style="width: 400px; display: grid;">
            <label style="font-size: 40px;">Parola veche:</label>
            <input type="password" id="prenume" asp-for="Password"
                   placeholder="Introdu parola veche"
                   style="font-size: 25px;">
            <span asp-validation-for="Password" class="text-danger" style="font-size: 30px;"></span>
        </div>

        <div style="width: 400px; display: grid;">
            <label style="font-size: 40px;">Parola noua:</label>
            <input type="password" id="nume" asp-for="New_Password"
                   placeholder="Introdu noua ta parolă"
                   style="font-size: 25px;">
            <span asp-validation-for="New_Password" class="text-danger" style="font-size: 30px;"></span>
        </div>

        <button class="btn btn-primary" type="submit" style="margin-top: 50px;">Schimbă parola</button>
    </form>
</div>
