@page
@model Cofetaria_Sky.Pages.ForgotPasswordModel
@{
    ViewData["Title"] = "Resetare parolă";

}
<div style="margin-top: 76px !important;" id="forgot">
    <form method="post" style="margin-top: 150px; margin-left: 15%;" id="form_forgot">

        <h1><strong>Resetează parola</strong></h1>
        <p style="margin-top: 50px; font-size: 30px;">
            Te rugăm să introduci adresa ta de email.
            <br />Vei primi un cod pentru a putea reseta parola.
        </p>

        <div asp-validation-summary="ModelOnly" style="color: red; font-size: 30px;"></div>

        <div class="mb-3 mt-3" id="emailParola" style="width: 400px;">
            <label asp-for="Email" class="form-label">Email:</label>
            <input type="email" asp-for="Email" class="form-control" placeholder="Introdu email-ul" style="font-size: 20px;">
            <span asp-validation-for="Email" class="text-danger" style="font: 20px;"></span>
        </div>

        <button id="schimbaParola" type="submit" class="btn btn-primary"><strong>Generează cod</strong></button>

    </form>
</div>