#schimbaParola {
    background-color: rgb(243,227,227);
    color: #383630;
    font-size: 20px;
}

@media screen and (max-width: 760px){
    #forgot{
        margin-left: 80px !important;
    }

    #emailParola{
        width: 300px;
    }

    #schimbaParola{
        margin-bottom: 50px;
    }
}
